body {
	padding-top: 20px;
}

.navbar {
	margin-bottom: 20px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
}

.sticky:before,
.sticky:after {
    content: '';
    display: table;
}

h1 {
	font-family: 'Fjalla One', sans-serif;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

#questions_lab3 {
	background-color: #767676;
	border-radius: 7px;
	color: white;
	padding-left: 30px;
	padding-right: 30px;
}